p {
  font-size: 1.1rem;
}

i {
  font-size: 1.3rem;
}

.checked {
  color: lightgrey;
}

.checked p {
  text-decoration: line-through;
}

.squares {
  margin-right: 10px;
}

#addBtn {
  border-radius: 0px 4px 4px 0px;
}